<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="@typeof(MainLayout)" class="d-flex">
			<h2 role="alert">Endereço inválido!.</h2>
			<img src="/errorPage.jpg" />
		</LayoutView>
	</NotFound>
</Router>
